
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                @*<a class="text-muted" href="#">Subscribe</a>*@
                <p class="p-0 text-muted">Ziyaretçi:  @HttpContext.Current.Application["visitor"]
                <p class="p-0 text-muted">IP: @HttpContext.Current.Request.UserHostAddress
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" @Html.ActionLink("Hoşgeldiniz", "Index", "Home")</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <p class="p-0 text-muted">@ViewBag.Mesaj
                    <a class="text-muted" href="https://www.google.com" aria-label="Google'da Ara">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"
                             focusable="false">
                            <title>Google'da Ara</title>
                            <circle cx="10.5" cy="10.5" r="7.5" />
                            <path d="M21 21l-5.2-5.2" />
                        </svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="#">Üye Ol</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">Dünya</a>
            <a class="p-2 text-muted" href="#">Türkiye</a>
            <a class="p-2 text-muted" href="#">Teknoloji</a>
            <a class="p-2 text-muted" href="#">Bilim</a>
            <a class="p-2 text-muted" href="#">Sağlık</a>
            <a class="p-2 text-muted" @Html.ActionLink("İletişim", "Contact", "Home")</a>
            <a class="p-2 text-muted" @Html.ActionLink("Hakkımda", "About", "Home")</a>
        </nav>
    </div>
</div>