@model IbrahimSipahi.UI.Models.Users

@{
    ViewBag.Title = "Üye/Giriş Ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Üye Giriş Ekranı</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <p class="container">

        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

        <p class="p-0 text-muted">@ViewBag.Invalid</p>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Mail Adresini giriniz" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", placeholder = "Şifrenizi giriniz" })
            @Html.ValidationMessageFor(m => m.Sifre, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-block btn-success">Giriş Yap</button>

    }
    <br />
        @Html.ActionLink("Şifremi Unuttum", "PasswordRemember", "Security", new { area = "" }, new { @class = "btn btn-sm btn-outline-danger " })

    </body>
</html>
