@model IbrahimSipahi.UI.Models.Users


@{
    ViewBag.Title = "Şifre Hatırlatma Ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Hatırlatma Ekranı</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p class="container">

        @using (Html.BeginForm("PasswordRemember", "Security", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Mail Adresini giriniz" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-block btn-success">Şifremi Gönder</button>
            <p class="p-0 text-muted">@ViewBag.Remember</p>
            }
        

    </body>
</html>
